.dataTables_wrapper .dataTables_filter {
    text-align: right !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dataTables_wrapper .dataTables_length {
    text-align: left !important;
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_length label {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 5px;
}

.dataTables_wrapper {
    overflow-x: hidden !important; 
}


table.dataTable {
    width: 100% !important; 
    white-space: nowrap;    
}


.dataTables_wrapper .dataTables_paginate {
    display: flex !important;
    justify-content: flex-end !important;
}

.is-invalid {
    border: 1px solid red !important;
}
.error-message {
    font-size: 12px;
}
.profile-pic {
    width: 150px;  
    height: 150px;
    object-fit: cover; 
    border: 3px solid #ddd;
    padding: 5px;
}
